/**********************************/
/* NAVIGATION SECTION */
/**********************************/

.header {
  margin: 2.4rem 0 6.4rem 0;
}

.side-text {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  color: #c8ccd8;
}

.nav-container {
  display: flex;
  align-items: center;
}

.main-nav {
  margin-left: 9.6rem;
}

.main-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.4rem;
  list-style: none;
  font-size: 1.6rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: #7d828f;
  text-decoration: none;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #60636d;
}
/* MOBILE BTN */

.btn-mobile-nav {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/**********************************/
/* HERO SECTION */
/**********************************/

/* CAROUSELLL */
.hero-slide {
  position: absolute;
  display: flex;
  transition: all 1s;
}

.active .btn-number {
  background-color: #1b1d23;
}

/* BACKGROUND IMAGE*/
.hero-slide:nth-child(2),
.hero-slide:nth-child(3),
.hero-slide:nth-child(4),
.hero-slide:first-child {
  background-size: cover;
  width: 100%;
  height: 100%;
}

.hero-slide:first-child {
  background-image: linear-gradient(
      to right bottom,
      rgb(0, 0, 0, 0.4),
      rgb(0, 0, 0, 0.4)
    ),
    url(/assets/home/desktop/image-hero-paramour.jpg);
}
.hero-slide:nth-child(2) {
  background-image: linear-gradient(
      to right,
      rgb(0, 0, 0, 0.4),
      rgb(0, 0, 0, 0.4)
    ),
    url(/assets/home/desktop/image-hero-seraph.jpg);
}
.hero-slide:nth-child(3) {
  background-image: linear-gradient(
      to right,
      rgb(0, 0, 0, 0.4),
      rgb(0, 0, 0, 0.4)
    ),
    url(/assets/home/desktop/image-hero-federal.jpg);
}
.hero-slide:nth-child(4) {
  background-image: linear-gradient(
      to right,
      rgb(0, 0, 0, 0.4),
      rgb(0, 0, 0, 0.4)
    ),
    url(/assets/home/desktop/image-hero-trinity.jpg);
}

/************/

.hero-text-box {
  position: relative;
  min-width: 45rem;
  max-width: 80rem;
  padding-left: calc(8.6rem * 3 + 2rem);
  padding-bottom: 15rem;
  width: 80%;
  align-self: flex-end;
}

.hero-description {
  font-size: 1.6rem;
  color: #eeeff4;
  margin-bottom: 6.4rem;
  line-height: 2.4rem;
}

.btn-icon {
  margin-left: 2.4rem;
}

.hero-number-box {
  display: flex;
  position: absolute;
  left: -8.55rem;
  bottom: -1px;
}

/**********************************/
/* WELCOME SECTION */
/**********************************/

.welcome {
  position: relative;

  grid-template-columns: 2fr 1fr;
  gap: 0;
}

.heading-box {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, -30%);
}

.welcome-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 24.4rem;
  padding-right: 2rem;
}

.welcome-img-box {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  width: 100%;
}

/**********************************/
/* SMALL TEAM SECTION*/
/**********************************/

.small-team-background {
  background-image: linear-gradient(
      to right,
      rgb(0, 0, 0, 0.4),
      rgb(0, 0, 0, 0.4)
    ),
    url(/assets/home/desktop/image-small-team.jpg);
  width: 100%;
  min-height: 56rem;
  max-height: 72rem;
  background-size: cover;
  position: relative;
}

.small-team-section .heading-secondary {
  color: #eeeff4;
}

.small-team-box {
  padding: 16.6rem 0 4.8rem 25rem;
}

/**********************************/
/* FEATURED SECTION*/
/**********************************/

.featured-nav {
  margin-bottom: 4.8rem;
}

.featuredn-nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featured-section .heading-secondary {
  margin-bottom: 0;
}

.gallery-item-box {
  position: relative;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  filter: brightness(80%);
  transition: all 0.3s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

.number {
  font-size: 20rem;
  color: #c8ccd8;
  opacity: 70%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2.4rem 1.6rem 0 0;
  z-index: 1;
}

/**********************************/
/* FOOTER SECTION*/
/**********************************/
.footer-box {
  position: relative;
  display: flex;
  align-items: center;

  gap: 4.8rem;
  background-color: #eeeff4;
  margin-right: 10rem;
}

.footer-logo {
  background-color: #1b1d23;
  padding: 4.8rem;
}

.footer-nav {
  background-color: #eeeff4;
}

.footer-btn {
  position: absolute;
  right: 0;
  transform: translate(40%, 0);
}

/**********************************/
/* PORTFOLIO SECTION*/
/**********************************/
.portfolio-section {
  margin-bottom: 10rem;
}

/**********************************/
/* ABOUT SECTION*/
/**********************************/
.hero-about-grid {
  display: flex;
  align-items: flex-end;
}

.about-text-box {
  position: relative;
  background-color: #fff;
  height: 60%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15rem 0 0 10rem;
  transform: translatex(-10rem);
}

.heding-box-about {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(10%, -50%);
}

.about-hero-img {
  filter: brightness(70%);
}

/**********************************/
/* HERITAGE SECTION*/
/**********************************/
.heritage-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 9.6rem;
}

.heritage-img-item {
  width: 100%;
}

/**********************************/
/* LEADER SECTION*/
/**********************************/
.grid-leaders {
  display: grid;
  column-gap: 3.2rem;
  row-gap: 3.2rem;
  grid-template-columns: 1fr 1fr;
}

.img-box {
  position: relative;
}
.leader-img {
  display: block;
  margin-bottom: 3.2rem;
  z-index: -1;
  min-width: 100%;
}

.leader-name {
  margin-bottom: 1.2rem;
  font-size: 2rem;
  color: #1b1d23;
}

.leader-profession {
  font-size: 1.6rem;
  color: #60636d;
  margin-bottom: 2.4rem;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: rgb(0, 0, 0, 0.3);
  opacity: 0;
  z-index: 1;
  visibility: hidden;
  pointer-events: none;
}
.leader-icon-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.leader-box:hover .overlay {
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.leader-icon-box-mob {
  display: none;
}

/**********************************/
/* CONTACT SECTION*/
/**********************************/
.contact {
  color: #60636d;
}

.contact-heading {
  font-size: 1.6rem;
  margin-bottom: 3.2rem;
}

.contact-list {
  list-style: none;
}

.contact-block {
  font-style: normal;
  display: flex;
  gap: 2.4rem;
  margin-bottom: 2.4rem;
}

.contact-text {
  font-size: 1.6rem;
}

.contact-link,
.contact-link:link,
.contact-link:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: #60636d;
  transition: all 0.3s;
}

.contact-link:hover,
.contact-link:active {
  color: #1b1d23;
  text-decoration: underline;
}

.view-on-map {
  padding-left: 4.8rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.map-img {
  width: 100%;
}

/**********************************/
/* CTA SECTION*/
/**********************************/

.cta-form {
  position: relative;
  display: flex;
  flex-direction: column;
}

.cta-form label {
  display: block;
  font-size: 1.8rem;
  padding-left: 2.4rem;
  color: #c8ccd8;
}

.cta-form-element {
  font-size: 2rem;
  border: none;
  border-bottom: 1px solid #1b1d23;
  margin-bottom: 3.6rem;
  padding: 2.4rem;
  cursor: pointer;
  color: #60636d;
}

.cta-form-element:hover {
  box-shadow: inset 0 -3px 0 0 rgb(0, 0, 0, 1);
}

.cta-form-element:last-of-type {
  margin-bottom: 0;
}

.cta-form-element:focus {
  outline: none;
  box-shadow: 0 0 0 0.1rem rgb(0, 0, 0, 0.2);
}

.btn-cta {
  align-self: flex-end;
  border: none;
}
